@charset "utf-8";

/* cssリセット */

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #333;
    /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans",
        "Meiryo, sans-serif";
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* ここまでリセットcss */

img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.wrap {
    width: 100%;
}

.mv {
    width: 100%;
    height: 100vh;
}

.title {
    margin: 50px;
    text-align: center;
}

.sv {
    display: flex;
}

.sv li {
    width: 33.33333%;
    height: 500px;
}

.txt {
    text-align: center;
    margin: 50px;
}

.btn {
    padding: 20px;
    border: 1px solid #333;
}

.footer {
    font-size: 70%;
}

.sns {
    display: flex;
    justify-content: center;
}

.footer li a {
    padding: 0 30px;
    text-decoration: underline;
}

@media screen and (max-width: 834px) {
    .sv {
        display: block;
    }

    .sv li {
        width: 100%;
    }
}
