@charset "utf-8";

/* cssリセット */
/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* リセットcss */
.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
    /* padding: 10px 30px 0; */
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.pc_mv img {
    width: 100%;
}

main {
    background-color: #e8d9bf;
}

/* リンクボタン */
.fix-btn {
    width: 125px;
    position: fixed;
    /* z-index: 1; */
    right: 3%;
    bottom: 3%;
}

/* 各コンテンツタイトル　基本形 */
.content-ttl {
    width: 100%;
    text-align: center;
}

.content-ttl img {
    height: 78px;
}

/* キャッチコピー */
.main-cp {
    font-size: 82px;
    letter-spacing: 0.1em;
    line-height: 1.17;
    padding-bottom: 24px;
    text-align: center;
}

.msg {
    font-size: 30px;
    padding: 105px 0 54px;
    text-align: center;
}

.txt {
    font-size: 23px;
    letter-spacing: 0.1em;
    line-height: 1.6;
    padding-bottom: 12px;
    text-align: center;
}

/* アバウト */
.container-about {
    max-width: 1000px;
    display: flex;
    margin: 79px auto;
    box-sizing: border-box;
}

.container-about_left {
    flex: 1;
}

.container-about_left img {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 0 0 82px;
}

.container-about_right {
    margin-top: 41px;
    flex: 1;
}

p.container-about_right_txt1 {
    font-size: 44px;
    line-height: 1.38;
    margin-bottom: 19px;
    padding-left: 16%;
}

p.container-about_right_txt2 {
    font-size: 16px;
    line-height: 1.625;
    padding-left: 18%;
}

.container-about_right img {
    padding-left: 79px;
}

/* about us用タイトル */
.container-about_ttl {
    margin: 15px 0 44px;
    height: 78px;
}

/* メニュー */
.menu {
    padding-top: 13px;
}

.menu-item {
    max-width: 1000px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto;
}

.menu-item img {
    width: 100%;
    border-radius: 0 41px 0 0;
}

.menu-item ul {
    margin: 0 auto;
}

.menu-item li {
    width: calc((100% - 100px) / 3);
}

p.menu-item_ttl {
    font-size: 38px;
    margin: -8px 0 14px 12px;
    color: #d30202;
}

p.menu-item_txt {
    font-size: 17px;
    line-height: 1.47;
}

/* ギャラリー */
.gallery {
    padding-top: 45px;
}

.gallery ul {
    display: flex;
    justify-content: center;
}

.gallery_pic {
    margin-top: 16px;
}

/* イベント */
.event {
    padding: 62px 10px 0;
}

.event-box {
    max-width: 1000px;
    background-color: #fff;
    border: 3.68px solid #4f260b;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.event ul {
    margin: 26px 0;
}

.event li {
    margin: 0 auto;
    line-height: 1.95;
    font-size: 23px;
}

.event li a {
    text-decoration: underline;
}

.event-tab {
    display: inline-block;
    width: 2.5em;
}

/* アクセス */
.access {
    padding-top: 46px;
}

.access-map {
    display: block;
    width: 100%;
    height: 470px;
    padding-top: 38px;
}

iframe {
    border: none;
}

/* フッター */
.footer {
    background-color: #fff;
    padding: 77px 10px 30px;
}

.footer img {
    padding-right: 65px;
}

.footer-item {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}

.footer-item p {
    font-size: 20px;
    line-height: 1.95;
    color: #000;
}

img.footer-logo {
    height: 50px;
}

.cp-wrt {
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
    color: #000;
}

.sp_mv,
.sp_brk,
.sp_btn,
.sp_nav {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .main-cp {
        font-size: 71px;
    }
    .msg {
        font-size: 26px;
    }

    .txt {
        font-size: 20px;
    }
    p.container-about_right_txt1 {
        font-size: 34px;
    }

    /* ハンバーガーメニュー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 5%;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー閉じる */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }
    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}
/* スライダー */
.slick-dots {
    bottom: 20px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
    font-size: 14px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-next {
    right: 25px;
    z-index: 1;
}
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-prev::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
}

.slick-next::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}

.lb-details {
    display: none !important;
}

/* SP版 */
@media screen and (max-width: 767px) {
    .fix-btn {
        width: 100px;
        right: 5%;
        bottom: 5%;
    }
    .pc_pic,
    .pc_mv,
    .event-tab {
        display: none;
    }

    .sp_mv {
        display: block;
    }
    .sp_mv img {
        width: 100%;
    }

    .header_logo {
        width: 187px;
    }

    .content-ttl img {
        height: 45px;
    }

    .main-cp {
        width: 100%;
        font-size: 38px;
        line-height: 1.157;
        letter-spacing: 0.02em;
        padding: 0 0 13px;
        white-space: nowrap;
    }

    .msg {
        font-size: 17px;
        padding: 43px 0 26px;
    }

    .txt {
        font-size: 16px;
        line-height: 1.875;
        padding-bottom: 0;
    }

    .sp_brk {
        display: inline;
    }

    /* アバウト */
    .container-about {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 41px;
        box-sizing: inherit;
    }

    .container-about_left {
        display: contents;
    }

    .container-about_left img {
        height: initial;
        border-radius: inherit;
        padding-bottom: 40px;
        order: 2;
    }

    .container-about_right {
        margin: 36px auto;
        display: contents;
    }

    p.container-about_right_txt1 {
        font-size: 36px;
        line-height: 1.25;
        padding-left: 5%;
        order: 3;
    }

    p.container-about_right_txt2 {
        font-size: 16px;
        line-height: 1.75;
        padding: 0 5%;
        order: 4;
    }

    .container-about_right img {
        padding: 0;
    }

    .container-about_right h2 {
        margin: 0 auto;
        order: 1;
    }

    .container-about_ttl {
        height: 45px;
        padding-bottom: 13px;
        margin: 10px 0;
    }

    /* メニュ */
    .menu {
        padding-top: 49px;
    }

    .menu-item {
        display: block;
        margin: 18px auto;
        padding: 0 10%;
    }

    .menu-item li {
        width: 100%;
        padding-bottom: 33px;
    }

    p.menu-item_ttl {
        font-size: 40px;
        margin: -12px 0 24px 3%;
    }

    p.menu-item_txt {
        margin-bottom: 20px;
        line-height: 1.58;
    }

    /* ギャラリー */
    .gallery ul li:nth-child(2),
    .gallery ul li:nth-child(3),
    .gallery ul li:nth-child(4),
    .gallery ul li:nth-child(5) {
        display: none;
    }

    .gallery {
        padding-top: 15px;
    }
    .gallery li {
        width: 100%;
    }

    .gallery-pic {
        margin: 0 auto;
        display: block;
    }

    .gallery_pic img {
        width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    /* イベント */
    .event {
        padding: 36px 6% 0;
    }
    .event-box {
        margin: 17px auto;
        display: block;
    }
    .event ul {
        margin: 20px 0;
    }

    .event li {
        margin: 16px 0;
        line-height: 1.3125;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /* アクセス */
    .access {
        padding-top: 10px;
    }
    .access-map {
        height: 190px;
        padding-top: 10px;
    }
    /* フッター */
    .footer {
        padding-top: 41px;
    }

    .footer-item {
        display: block;
        padding: 0 2%;
    }

    .footer-item p {
        font-size: 18px;
        line-height: 1.72;
        padding-top: 28px;
    }
    .cp-wrt {
        margin-top: 38px;
    }
}
