@charset "utf-8";

/* cssリセット */
/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

p,
h1,
h2 {
    font-feature-settings: "palt";
}

body {
    max-width: 1920px;
    padding: 0 10px;
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

main {
    background-color: #e8d9bf;
}

/* リンクボタン */
.fix-btn {
    width: 125px;
    position: fixed;
    z-index: 999;
    right: 16%;
    bottom: 16%;
}

/* 各コンテンツタイトル　基本形 */
.content-ttl {
    width: 100%;
    text-align: center;
}

.content-ttl img {
    height: 78px;
}

/* キャッチコピー */
.main-cp {
    font-size: 82px;
    letter-spacing: 0.1em;
    line-height: 1.17;
    padding-bottom: 24px;
    text-align: center;
}

.msg {
    font-size: 30px;
    padding: 105px 0 54px;
    text-align: center;
}

.txt {
    font-size: 23px;
    letter-spacing: 0.1em;
    line-height: 1.6;
    padding-bottom: 12px;
    text-align: center;
}

/* アバウト */
.container-about {
    display: flex;
    margin: 79px auto;
    box-sizing: border-box;
    max-width: 1000px;
}

.container-about_left {
    flex: 1;
}

.container-about_left img {
    max-width: 500px;
    height: 560px;
    object-fit: cover;
    border-radius: 0 0 82px;
}

.container-about_right {
    margin-top: 41px;
    flex: 1;
}

p.container-about_right_txt1 {
    font-size: 44px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    margin-bottom: 19px;
    padding-left: 79px;
}

p.container-about_right_txt2 {
    font-size: 16px;
    line-height: 1.625;
    padding-left: 86px;
}

.container-about_right img {
    padding-left: 79px;
}

/* about us用タイトル */
.container-about_ttl {
    margin: 15px 0 44px;
    height: 78px;
}

/* メニュー */
.menu {
    margin-top: 97px;
}

.menu-item {
    width: 1000px;
    display: flex;
    margin: 35px auto;
}

.menu-item img {
    width: 300px;
    height: 200px;
    border-radius: 0 41px 0 0;
}

.menu-item ul {
    margin: 0 auto;
}

.menu-item li {
    width: calc(100% / 3);
}

p.menu-item_ttl {
    width: 300px;
    font-size: 38px;
    margin: -8px 0 0 12px;
    color: #d30202;
}

p.menu-item_txt {
    width: 300px;
    margin-top: 14px;
    font-size: 17px;
    line-height: 1.47;
}

/* ギャラリー */
.gallery {
    margin-top: 82px;
}

.gallery ul {
    display: flex;
    justify-content: center;
}

.gallery li {
    width: calc(100% / 5);
}

.gallery_pic {
    margin-top: 16px;
    object-fit: cover;
    height: 300px;
}

/* イベント */
.event {
    margin-top: 62px;
}

.event-box {
    width: 1000px;
    background-color: #fff;
    border: 3.68px solid #4f260b;
    margin: 30px auto;
}

.event ul {
    margin: 26px 0;
}

.event li {
    width: 680px;
    margin: 0 auto;
    line-height: 1.95;
    text-align: left;
}

.event p {
    font-size: 23px;
    line-height: 1.95;
}

.event-tab {
    display: inline-block;
    width: 2em;
}

/* アクセス */
.access {
    margin-top: 74px;
}

.access-map {
    width: 100%;
    height: 470px;
    padding-top: 38px;
}

iframe {
    border: none;
}

/* フッター */
.footer {
    background-color: #fff;
}

.footer ul {
    text-align: left;
}

.footer li {
    padding-right: 65px;
}

.footer-item {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    padding-top: 67px;
}

.footer-item p {
    font-size: 20px;
    line-height: 1.95;
}

img.footer-logo {
    height: 50px;
}

.cp-wrt {
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
}
