@charset "utf-8";

body {
    background-color: #fffaf2;
}

.container {
    width: 767px;
    margin: 0 auto;
}

header {
    /* width: 100%; */
    height: 750px;
    margin: 0 auto;
    background-image: url(../images/mv.png);
    background-size: 767px 550px;
    background-repeat: no-repeat;
}

.main {
    width: 212px;
    margin: -1% auto 0;
}

.txt_area {
    width: fit-content;
    margin: 16% auto 12%;
    text-align: left;
}

.mv_bg {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.7em;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
    background: linear-gradient(transparent 0%, #fffaf2 0%);
    -webkit-box-decoration-break: clone;
}

.sec_bg {
    background-color: #ffefe6;
}

hr {
    background-image: url(../images/block.svg);
    background-repeat: repeat;
    width: 767px;
    height: 50px;
    margin: 0 auto;
    background-size: 50px auto;
    border: none;
}

.inner {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.pf_subttl {
    text-align: center;
    padding-bottom: 30px;
    font-size: 21px;
    font-weight: 600;
}

.left_side {
    text-align: center;
}
.left_side p {
    font-size: 21px;
    font-weight: 600;
    line-height: 2em;
    white-space: nowrap;
}
.left_side img {
    width: 100px;
}

.right_side {
    margin: 8% 0 0 5%;
}

.right_side p {
    font-size: 16px;
    line-height: 1.75em;
}

.ld {
    width: 100%;
    height: 100vh;
    position: relative;
}

.ld img {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
}

.my_self {
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

.skill {
    width: fit-content;
    margin: 0 auto 10%;
    font-size: 20px;
    font-weight: 600;
}

.group_1 p {
    display: inline-block;
    width: 150px;
    margin-bottom: 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;

    color: #594c45;
    background-color: #ffe2d1;
    border: 2px solid #594c45;
}
.group_2 p {
    display: inline-block;
    width: 150px;
    margin-bottom: 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;

    color: #fffaf2;
    background-color: #594c45;
    border: 2px solid #bdb9b3;
}
.group_3 p {
    display: inline-block;
    width: 150px;
    margin-bottom: 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;

    color: #fffaf2;
    background-color: #bdb9b3;
    border: 2px solid #594c45;
}

/* カルーセル */
.slider {
    margin: 0 calc(50% - 50vw);
}

.slider img {
    width: 700px;
}

.work_area {
    padding-bottom: 20%;
}

.work_ttl {
    margin-top: 25%;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.work_txt {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.27;
    text-align: center;
}

.slider .slick-slide {
    transform: scale(0.6); /*左右の画像のサイズ*/
    transition: all 0.5s; /*アニメーションを0.5秒で行う*/
    opacity: 0.5; /*透過50%*/
}
.slider .slick-slide.slick-center {
    transform: scale(1); /*中央の画像のサイズだけ等倍に*/
    opacity: 1; /*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute; /*絶対配置にする*/
    top: 42%;
    cursor: pointer; /*マウスカーソルを指マークに*/
    outline: none; /*クリックをしたら出てくる枠線を消す*/
    border-top: 7px solid #fffaf2; /*矢印の色*/
    border-right: 7px solid #fffaf2; /*矢印の色*/
    height: 48px;
    width: 26px;
}

.slick-prev::before {
    /*戻る矢印の位置と形状*/
    content: "";
    left: 25%;
    transform: rotate(-135deg);
}

.slick-next::before {
    /*次へ矢印の位置と形状*/
    content: "";
    right: 25%;
    transform: rotate(45deg);
}

/* コンタクト */
label {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    display: block;
}

input[type="text"] {
    width: 380px;
    height: 30px;
    padding: 10px;
    color: #333;
    border: 1px solid #594c45;
    border-radius: 3%;
}

textarea {
    width: 500px;
    height: 300px;
    color: #f2f2f2;
    font-size: 16px;
    border: 1px solid #594c45;
    border-radius: 1%;
}

button {
    font-size: 25px;
    font-weight: 600;
    width: 400px;
    height: 60px;
    color: #fffaf2;
    background-color: #b39484;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 3px 0 0 rgba(33, 19, 15, 0.5);
    margin-top: 10%;
}

.cont_frm {
    display: block;
    width: fit-content;
    height: 770px;
    margin: 0 auto;
}

.cont_txt {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}

.btn {
    text-align: center;
}

button:hover {
    color: #594c45;
    background-color: #ffbe98;
    box-shadow: 2px 3px 0 0 rgba(145, 87, 64, 0.5);
}

/* フッター */
footer {
    text-align: center;
    padding-bottom: 34px;
}
.copywrt {
    color: #3d3028;
    font-size: 18px;
    font-weight: 600;
}

.ft_menu {
    display: flex;
    justify-content: center;
    color: #3d3028;
    font-size: 18px;
    font-weight: 600;
}
.ft_menu li {
    width: 170px;
    padding: 100px 10px;
}

.ft_logo {
    width: 324px;
    padding-bottom: 40px;
}

/* ハンバーガーここから */
.nv {
    position: fixed;
    top: 170px;
    left: calc(50% - 600px);
    z-index: 90;
    backdrop-filter: blur(5px);
}

.nv img {
    width: 130px;
    padding-bottom: 40px;
}

.nv a {
    font-size: 20px;
}

.nv_btn {
    position: relative; /*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
    width: 55px;
    height: 55px;
    top: 30px;
    left: calc(50% + 280px);
    text-align: center;
}

/*ボタン内側*/
.nv_btn span {
    width: 55px;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background: #594c45;
}

.nv_btn span:nth-of-type(1) {
    top: 13px;
}

.nv_btn span:nth-of-type(2) {
    top: 27px;
}

.nv_btn span:nth-of-type(3) {
    top: 40px;
}

.nv_btn span:nth-of-type(3)::after {
    content: "menu"; /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 9px;
    left: 8px;
    color: #594c45;
    font-size: 16px;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.nv_btn.active span:nth-of-type(1) {
    top: 13px;
    left: 18px;
    transform: translateY(13px) rotate(-45deg);
    width: 55px;
}

.nv_btn.active span:nth-of-type(2) {
    opacity: 0;
}

.nv_btn.active span:nth-of-type(3) {
    top: 27px;
    left: 18px;
    transform: rotate(45deg);
    width: 55px;
}

.nv_btn.active span:nth-of-type(3)::after {
    content: "close"; /*3つ目の要素のafterにClose表示を指定*/
    transform: rotate(-45deg);
    top: 18px;
    left: 33px;
}
/* ハンバーガーここまで */

.scroll {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.scroll p {
    position: absolute;
    top: -5px;
    left: -16px;
    font-size: 12px;
    font-weight: 600;
    color: #3d3028;
}

.scroll::before {
    /* 四角の設定 */
    content: "";
    position: absolute;
    left: -5px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: #3d3028;

    /*指定秒数透過して、永遠にループ*/
    animation: circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-out infinite;
}

.scroll::after {
    /* 線の設定 */
    content: "";
    position: absolute;
    width: 2px;
    height: 62px;
    background: #3d3028;
    border-radius: 1px; /* 角丸は線幅の半分 */
    top: 12px;
}

/*下からの距離が変化して上から下に動く*/
@keyframes circlemove {
    0% {
        top: 5px;
    }
    100% {
        top: 72px;
    }
}

/*上から下にかけて透過→不透明→透過する*/
@keyframes cirlemovehide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
    .txt_area {
        text-align: left;
    }
    .mv_bg {
        font-size: 40px;
    }

    .inner {
        width: 85%;
    }

    .right_side p {
        font-size: 21px;
        font-weight: 600;
    }
    .right_side {
        margin: 3% 0 0 5%;
    }
}
/* width 1200px以下の時は、サイドナビを非表示にする */
@media screen and (max-width: 1200px) {
    .nv {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .slider {
        overflow: hidden;
        margin: 0 auto;
    }
}
